dist: xenial

language: cpp

branches:
  only:
  - staging
  - trying
  - master
  # release branch
  - /^release\/[\d\.]+$/
  # release tag
  - /^v[\d\.]+$/

stages:
- name: test
- name: upload to ppa:mir-team
  if: type = push
      AND repo = MirServer/wlcs
      AND ( branch = master
            OR branch =~ ^release/[\d\.]+$
            OR tag =~ ^v[\d\.]+$ )

env:
  global:
  - DEBFULLNAME="Mir CI Bot"
  - DEBEMAIL="mir-ci-bot@canonical.com"
  matrix:
  - REMOTE=ubuntu IMAGE=16.04
  - REMOTE=ubuntu IMAGE=18.04
  - REMOTE=ubuntu IMAGE=18.10
  - REMOTE=ubuntu IMAGE=ubuntu-daily
  - REMOTE=images IMAGE=fedora/29

script:
  - lxc launch $REMOTE:$IMAGE test-env
  - lxc file push . test-env/build/ -p -r
  - lxc exec test-env -- apt install build-essential g++ debhelper cmake libboost-dev libgtest-dev libwayland-dev pkg-config google-mock
  - lxc exec test-env -- sh -c "cd /build ; debuild -us -uc"

jobs:
  include:
  - &ppa-upload
    stage: upload to ppa:mir-team
    env: RELEASE=16.04
    git:
      depth: false
    before_install: &decrypt-bot-data
    - openssl aes-256-cbc -K $encrypted_a928ee198e10_key -iv $encrypted_a928ee198e10_iv -in tools/bot-data.tar.xz.enc -out /tmp/bot-data.tar.xz -d 
    - tar --verbose --extract --xz --file /tmp/bot-data.tar.xz --directory ${HOME}
    # We don't need to do the install steps
    install: skip
    script:
    - tools/ppa-upload.sh
    addons:
      apt:
        packages:
        - debhelper
        - devscripts
        - dput
        - fakeroot
        - python-bzrlib
        - python-launchpadlib
        - python-paramiko
        - libdistro-info-perl
  - <<: *ppa-upload
    env: RELEASE=18.04
  - <<: *ppa-upload
    env: RELEASE=18.10
  - <<: *ppa-upload
    env: RELEASE=devel

