name: Spread

on:
  push:
    branches:
    - main
    - staging
    - trying
    - release/[0-9]+.[0-9]+
    tags:
    - v[0-9]+[0-9]+.[0-9]+
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  BuildAndTest:
    strategy:
      fail-fast: false
      matrix:
        spread-task:
        - lxd:ubuntu-22.04:...:gcc
        - lxd:ubuntu-22.10:...:gcc
        - lxd:ubuntu-22.10:...:clang
        - lxd:fedora-36:...:gcc
        - lxd:fedora-37:...:gcc
        - lxd:alpine-3.17:...:gcc
        - lxd:ubuntu-devel:...:gcc
        - lxd:ubuntu-devel:...:clang
        - lxd:alpine-edge:...:gcc

    runs-on: ubuntu-latest

    env:
      DEBFULLNAME: "Mir CI Bot"
      DEBEMAIL: "mir-ci-bot@canonical.com"

    steps:
    - name: Set up LXD
      uses: canonical/setup-lxd@main

    - name: Set up Spread
      run: |
        set -euo pipefail 
        sudo snap install spread-mir-ci
        sudo snap run lxd init --auto

    - name: Check out code
      uses: actions/checkout@v3

    - name: Run Spread task
      run: snap run spread-mir-ci.spread -v ${{ matrix.spread-task }}
