name: Spread

on:
  push:
    branches:
    - master
    - staging
    - trying
    - release/[0-9]+.[0-9]+
    tags:
    - v[0-9]+[0-9]+.[0-9]+
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  BuildAndTest:
    strategy:
      fail-fast: false
      matrix:
        spread-task:
        - lxd:ubuntu-20.04:...:gcc
        - lxd:ubuntu-21.04:...:gcc
        - lxd:ubuntu-21.04:...:clang
        - lxd:fedora-33:...:gcc
        - lxd:fedora-34:...:gcc
        - lxd:alpine-3.13:...:gcc
        - lxd:ubuntu-devel:...:gcc
        - lxd:ubuntu-devel:...:clang

    runs-on: ubuntu-latest

    env:
      DEBFULLNAME: "Mir CI Bot"
      DEBEMAIL: "mir-ci-bot@canonical.com"

    steps:
    - name: Set up LXD
      run: |
        set -euo pipefail 
        sudo adduser $USER lxd
        sudo apt-get remove --yes lxd
        sudo snap install lxd
        sg lxd -c 'lxd init --auto'

    - name: Set up Spread
      run: |
        set -euo pipefail 
        curl -s -O https://people.canonical.com/~chrishr/spread.snap
        sudo snap run lxd init --auto
        sudo snap install --dangerous spread.snap
        sudo snap connect spread:lxd lxd:lxd

    - name: Check out code
      uses: actions/checkout@v2

    - name: Run Spread task
      env:
        LXD_DIR: /var/snap/lxd/common/lxd
      run: sg lxd -c 'snap run spread -v ${{ matrix.spread-task }}'
