name: Spread

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number && format('pr{0}', github.event.number) || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
    - release/[0-9]+.[0-9]+
    tags:
    - v[0-9]+[0-9]+.[0-9]+
  merge_group:
    types: [checks_requested]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  BuildAndTest:
    strategy:
      fail-fast: false
      matrix:
        spread-task:
        - lxd:ubuntu-24.04:...:gcc
        - lxd:ubuntu-25.04:...:gcc
        - lxd:ubuntu-25.10:...:gcc
        - lxd:ubuntu-25.10:...:clang
        - lxd:fedora-41:...:gcc
        - lxd:fedora-42:...:gcc
        - lxd:fedora-43:...:gcc
        - lxd:fedora-rawhide:...:gcc
        - lxd:alpine-3.20:...:gcc
        - lxd:alpine-3.21:...:gcc
        - lxd:ubuntu-devel:...:gcc
        - lxd:ubuntu-devel:...:clang
        - lxd:alpine-edge:...:gcc
        - lxd:archlinux-cloud:...:gcc

    runs-on: ubuntu-latest

    env:
      DEBFULLNAME: "Mir CI Bot"
      DEBEMAIL: "mir-ci-bot@canonical.com"
      CCACHE_DIR: /tmp/ccache

    steps:
    - name: Set up LXD
      uses: canonical/setup-lxd@main

    - name: Set up Spread
      run: |
        set -euo pipefail
        sudo snap install spread-mir-ci

    - name: Check out code
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Set up CCache
      id: setup-ccache
      run: |
        lxc profile device add default ccache disk source=${CCACHE_DIR} path=/root/.ccache shift=true
        mkdir --parents ${CCACHE_DIR}

        # Find the merge base to avoid populating the cache with short lived cache entries
        # and evicting those we care for - from `main`
        echo "merge-base=$( git merge-base origin/main ${{ github.sha }} )" >> $GITHUB_OUTPUT

    - name: CCache
      uses: actions/cache@v4
      with:
        key: ccache-${{ matrix.spread-task }}-${{ steps.setup-ccache.outputs.merge-base }}
        # if exact match isn't found, use the most recent entry for the task
        restore-keys: |
          ccache-${{ matrix.spread-task }}-
        path: ${{ env.CCACHE_DIR }}

    - name: Ensure ccache size
      run: |
        echo "max_size = 100M" > ${CCACHE_DIR}/ccache.conf

    - name: Run Spread task
      run: snap run spread-mir-ci.spread -v ${{ matrix.spread-task }}

    - name: CCache stats
      run: cat ${CCACHE_DIR}/ccache.stats

    - if: ${{ failure() && runner.debug }}
      name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
