name: Spread

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number && format('pr{0}', github.event.number) || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
    - release/[0-9]+.[0-9]+
    tags:
    - v[0-9]+[0-9]+.[0-9]+
  merge_group:
    types: [checks_requested]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  BuildAndTest:
    strategy:
      fail-fast: false
      matrix:
        spread-task:
        - lxd:...:debian_sid
        - lxd:...:ubuntu
        - lxd:...:ubuntu_arm64
        - lxd:...:ubuntu_armhf
        - lxd:...:ubuntu_devel
        - lxd:...:ubuntu_proposed
        - lxd:...:ubuntu_questing
        - lxd:alpine-3.20:...:default
        - lxd:alpine-3.21:...:default
        - lxd:alpine-edge:...:default
        - lxd:archlinux-cloud:...:default
        - lxd:fedora-42:...:default
        - lxd:fedora-43:...:default
        - lxd:fedora-rawhide:...:default
        - lxd:ubuntu-25.10:...:clang
        - lxd:ubuntu-devel:...:clang

    runs-on: ubuntu-latest

    env:
      DEBFULLNAME: "Mir CI Bot"
      DEBEMAIL: "mir-ci-bot@canonical.com"

    steps:
    - name: Set up LXD
      uses: canonical/setup-lxd@main

    - name: Set up Spread
      run: |
        sudo snap install spread-mir-ci
        lxc profile set default \
          security.nesting=true \
          security.privileged=true

    - name: Check out code
      uses: actions/checkout@v6

    - name: Run Spread task
      run: snap run spread-mir-ci.spread -reuse -v ${{ matrix.spread-task }}

    - if: ${{ failure() && runner.debug }}
      name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
