name: TICS

on:
  push:
    branches:
    - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

jobs:
  TICS:
    # Only run if we have access to secrets.
    if: github.event_name != 'pull_request' || github.repository == github.event.pull_request.head.repo.full_name

    runs-on: [self-hosted, reactive, amd64, tiobe, noble]

    env:
      CCACHE_DIR: "/tmp/ccache"
      NEEDRESTART_SUSPEND: yes
      DEBIAN_FRONTEND: noninteractive
      TICS_CHANGED_LIST: tics_changed.list

    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        # So we can determine the merge base
        fetch-depth: 0

    - name: Set up CCache
      id: setup-ccache
      run: |
        sudo apt-get --yes install ccache
        mkdir --parents ${CCACHE_DIR}

        # Find the merge base to avoid populating the cache with short lived cache entries
        # and evicting those we care for - from `main`
        echo "merge-base=$( git merge-base origin/main ${{ github.sha }} )" >> $GITHUB_OUTPUT

    - name: CCache
      uses: actions/cache@v4
      with:
        key: ccache-coverage-${{ steps.setup-ccache.outputs.merge-base }}
        # if exact match isn't found, use the most recent entry for the task
        restore-keys: |
          ccache-coverage-
        path: ${{ env.CCACHE_DIR }}

    - name: Ensure ccache size
      run: |
        # a full build yielded 50M cache
        echo "max_size = 150M" > ${CCACHE_DIR}/ccache.conf

    - name: Install dependencies
      run: |
        sudo add-apt-repository --yes ppa:mir-team/dev
        sudo apt install --yes \
          build-essential \
          ccache \
          cmake \
          google-mock \
          libboost-dev \
          libgtest-dev \
          libwayland-dev \
          ninja-build \
          pkg-config

    - name: Build
      run: |
        cmake \
          -DCMAKE_C_COMPILER_LAUNCHER=ccache \
          -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
          -Bbuild \
          -GNinja
        cmake --build build

    - name: Get changed files
      if: github.event_name == 'merge_group'
      run: |
        # Every merge_group event runs for one pull request, so we can diff against parent
        git diff --name-only ${{ github.sha }}~1 ${{ github.sha }} >> $TICS_CHANGED_LIST

    - name: Run TICS analysis
      uses: tiobe/tics-github-action@v3
      with:
        mode: ${{ contains(fromJSON('["pull_request", "merge_group"]'), github.event_name) && 'client' || 'qserver' }}
        project: wlcs
        viewerUrl: https://canonical.tiobe.com/tiobeweb/TICS/api/cfg?name=default
        ticsAuthToken: ${{ secrets.TICSAUTHTOKEN }}
        installTics: true
        filelist: ${{ github.event_name == 'merge_group' && env.TICS_CHANGED_LIST || '' }}
        # FIXME: workaround for a TICS bug
        additionalFlags: ${{ contains(fromJSON('["pull_request", "merge_group"]'), github.event_name) && '-resultdir build' || '' }}

    - name: CCache stats
      run: ccache --show-stats --zero-stats

    - if: ${{ failure() && runner.debug }}
      name: Setup tmate session
      uses: canonical/action-tmate@main
      with:
        limit-access-to-actor: true
